{% extends "emitr/layout.html" %}

{% block title %}
    Contact US
{% endblock %}

{% block main %}

<div class="page-content">
    <div class="page-title">
        <h1>Contact Us</h1>
        <hr>
    </div>
    <div class="content">
        <div class="section info">
            <p>Sanskar E-Mitra & Computer Services</p>
            <span><i class="fas fa-map-marker-alt"> &nbsp; Imam Chowk Goura Bass Makrana, Dist - Nagaur, Rajasthan - 341505</i></span>
            <span><i class="fas fa-phone-alt"> &nbsp; +91-7976048007 (H.A. GEHLOT)</i></span>
            <span><i class="fas fa-phone-alt"> &nbsp; +91-9460029746 (A.M. GEHLOT)</i></span>
            <span><i class="fas fa-envelope"> &nbsp; haidergehlot8@gmail.com</i></span>
            <span><i class="fas fa-envelope"> &nbsp; sanskaremitr007@gmail.com</i></span>

            <p>Bank of Baroda BC</p>
            <span><i class="fas fa-map-marker-alt"> &nbsp; Near Bank of Baroda, Bypass Road Makrana, Dist - Nagaur, Rajasthan - 341505</i></span>
            <span><i class="fas fa-phone-alt"> &nbsp; +91-9829464133 (M.I. GEHLOT)</i></span>
            <span><i class="fas fa-phone-alt"> &nbsp; +91-9252064133 (M.I. GEHLOT)</i></span>
        </div>
        <div class="section map">
            {% load static %}
            <img src="{% static 'image/emitra-map.jpg' %}" alt="Location Map">
        </div>
    </div>
</div>

{% endblock %}

{% block UsefulLinks %}
    {% for link in usefullinks %}
        <a href="{{ link.url }}" target="_blank"><li>{{ link.text }}</li></a>
    {% endfor %}
{% endblock %}