{% extends "emitr/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!--Latest Updates-->
    <div class="updates-container">
        <marquee behavior="scroll" direction="left" scrollamount="10">
            {% for update in latestupdates %}
            <span>new</span>&nbsp;{{ update.headline }}
            &nbsp;
            {% endfor %}
        </marquee>
    </div>
    <!--End Latest Updates-->

    <!--Page Banner-->
    <div class="banner">
        {% load static %}
        <img src="{% static 'image/banner.jpg' %}" alt="Banner Image">
    </div>
    <!--End Page Banner-->

    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!--Post Slider-->
        <div class="post-slider">
            <h1 class="slider-title">Exclusive Services</h1>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>

            <div class="post-wrapper">
                
                {% for service in ExclusiveServices %}
                    <div class="post" onclick="location.href='/fee/{{service.id}}' ">
                        <img src="{{ service.image.url }}" alt="" class="slider-image">
                        <div class="post-info">
                            <h4><a href="{% url 'emitr:service_fee' service.id %}">{{ service.title }}</a></h4>
                            <p style="font-size: 15px;">{{ service.ExclusiveDescription }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <!--End Post Slider-->

        <!--Content-->
        <div class="content clearfix">

            <!--Main Content-->
            <div class="main-content">
                <h1 class="recent-post-title">E-Mitra Services</h1>

                {% for service in services %}
                    <div class="post clearfix">
                        <img src="{{ service.image }}" alt="" class="post-image">
                        <div class="post-preview">
                            <h3><a href="{% url 'emitr:service_fee' service.id %}">{{ service.title }}</a></h3>
                            <p class="preview-text">
                                {% for subservice in service.subservices %}
                                    ●&nbsp;{{ subservice.name }}<br>                                
                                {% endfor %}
                            </p>
                            <a href="{% url 'emitr:service_fee' service.id %}" class="btn read-more">See All</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- End Main Content-->
            
            <!--Sidebar-->
            <div class="sidebar">

                <div class="section search">
                    <h2 class="section-title">Search</h2>
                    <form action="{% url 'emitr:index' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="search-term" class="text-input" placeholder="Search..." required> 
                    </form>
                </div>

                <div class="section topics">
                    <h2 class="section-title">Services Fees</h2>
                    <ul>
                        {% for service in services %}
                            <li><a href="{% url 'emitr:service_fee' service.id %}">{{ service.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <!--End Sidebar-->

        </div>
        <!--End Content-->
        
    </div>
    <!-- End Page Wrapper-->

{% endblock %}

{% block UsefulLinks %}
    {% for link in usefullinks %}
        <a href="{{ link.url }}" target="_blank"><li>{{ link.text }}</li></a>
    {% endfor %}
{% endblock %}